footer{
    margin-top:5%;
 padding-top: 1%;
 padding-bottom: 1%;
 text-align: center;
 width: 100%;
 height: 6vh;
 background-color:#f1f1f1;;
 margin-bottom: 0;
}
#excel-table
{
 display: none;
}
button{
 border-color: turquoise;
 font-family: Ink free;
 margin:1%;
 padding:1%;
 width: 10%;
 margin-top: 1%;
 font-size: 100%;
 font-weight: bold;
}
#main{
    margin:14.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
   * {
        flex-grow: 1;
    }
}
