<div>
    <p>Child {{index+1}}</p>
    <table id="excel-table" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input (blur)="blur()" matInput [formControl]="fnameFormControl" [(ngModel)]="userSer.userDetails.Children[index].ChildName">
              <mat-error *ngIf="fnameFormControl.hasError('pattern') &&!fnameFormControl.hasError('required')">
                Please enter a valid name
              </mat-error>
              <mat-error *ngIf="fnameFormControl.hasError('required')">
                FirstName is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>ID number </mat-label>
              <input (blur)="blur()"  matInput [formControl]="idFormControl"  [(ngModel)]="userSer.userDetails.Children[index].ChildIDNumber">
              <mat-error *ngIf="idFormControl.hasError('pattern') &&!idFormControl.hasError('required')">
                Please enter a valid ID
              </mat-error>
              <mat-error *ngIf="idFormControl.hasError('required')">
                ID is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Date of birth </mat-label>
              <input  (blur)="blur()"type="date" matInput [formControl]="dateFormControl" [(ngModel)]="userSer.userDetails.Children[index].DOB">
              <mat-error *ngIf="dateFormControl.hasError('required')">
                Date of birth is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
       </table>
</div>